<!-- Footer -->
<footer>

  <!-- Footer top -->
  <section class="footer-top">

    <!-- Container -->
    <div class="container">

      <!-- Row -->
      <div class="row">

        <!-- footer logo -->
        <div class="col-md-3">
          <a href="/"><img src="http://res.cloudinary.com/dmhouhr7v/image/upload/v1498762041/15442176_204747639932915_6612420024311324220_n_ogitbh.png" alt=""></a>
        </div>
        <!-- /footer logo -->

        <!-- Entertainer type -->
        <div class="col-md-3">

        </div>
        <!-- /Entertainer type -->

          <!-- Company links -->
          <div class="col-md-3">
            <h5>Company</h5>
            <ul>
              <li><a href="/pages/about/">About</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>
          </div>
          <!-- /Company links -->

          <!-- Social links -->
          <div class="col-md-3">
            <h5>Social</h5>
            <ul class="social">
              <li><a href="https://www.facebook.com/Bookah-163315720742774/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/bookahonline"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/bookahonline/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://www.pinterest.com/bookahonline/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <!-- /Social links -->

        </div>
        <!-- /Row -->

      </div>
      <!-- /Container -->

  </section>
  <!-- /Footer top -->

  <!-- Footer bottom -->
  <section class="footer-bottom">

    <!-- Container -->
    <div class="container">

      <!-- Row -->
      <div class="row">

        <ul>
          <li>&copy; {% now "Y" %} - Bookah</li>
          <li><a href="/pages/privacy-policy/">Privacy Policy</a></li>
          <li><a href="/pages/terms-and-conditions/">Terms &amp; Conditions</a></li>
          <li><a href="mailto:info@bookah.ie">info@bookah.ie</a></li>
        </ul>

      </div>
      <!-- /Row -->

    </div>
    <!-- /Container -->

  </section>
  <!-- /Footer bottom -->

</footer>
<!-- /footer -->
